body {
    background-color: #504A4A;
}

h2 {
    color: white;
}
.panel > .panel-heading {
    background-color: #f7bf3f;
}
.panel {
    background-color: #504a4a;
    border: solid white 1px;
    text-align: center;
    height: 450px;
}

.charDescription {
    color: #e23636;
}


.maleCharImage {
    border:#518CCA 5px solid;
    border-radius: 100%;
}
.femaleCharImage {
    border: pink 5px solid;
    border-radius: 100%;
}